html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://besthqwallpapers.com/other/stack-of-books-blue-background-education-concepts-books-library-132669");
    -webkit-backdrop-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}